// Base
$color-main: #71e0a8;

$color-background: #ffffff;

// Neutrals
$color-darkgrey: #333333;
$color-mediumgrey: #888888;
$color-white: #ffffff;

// Accent colors inspired by the main color
$color-lighter-teal: #a6f2d0;
$color-darker-teal: #499c85;

// Contrasting colors
$color-contrast-rose: #e07188;
$color-contrast-blue: #719ce0;

// Additional hues to balance palette
$color-complementary-orange: #e08f71;
$color-complementary-purple: #c471e0;
