@import "variables";
@import "components/nav";
@import "components/hero";
@import "components/middle";
@import "components/footer";
@import "components/modal";
@import "components/recipe";
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background: $color-background;
  font-family: "Poppins", sans-serif;
  color: #323232;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hidden {
  display: none;
}

.page-content {
  flex: 1 0 auto;
  min-width: 100vh;
}

a {
  color: unset;
  text-decoration: none;
}
