.recipe-wrap {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipe-card {
  background: #fcfffe;
  width: 90vw;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;

  overflow: hidden;

  h1 {
    font-size: 4rem;
    width: 80%;
  }

  img {
    width: 600px;
  }
}

.recipe-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipie-content {
  margin-top: 20px;
}

.serves-wrap {
  margin-top: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .serves {
    border: 2px solid #71e0a8;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.serves-wrap .serves:first-child {
  background: #71e0a8;
  border: 0px;
  height: 130px;
}

.recipe-right ol {
  margin-top: 20px;
  display: flex;
  flex-direction: column;

  .blt-point {
    margin: 10px 0;
    counter-increment: item;
    margin-bottom: 5px;
  }
}

.blt-point:before {
  margin-right: 10px;
  content: counter(item);
  background: rgb(173, 230, 203);
  border-radius: 100%;
  color: white;
  width: 1.2em;
  text-align: center;
  display: inline-block;
}
