<div class="main--card">
	<div class="main--card-wrapper">
		<div class="card-img">
			<img src="assets/images/card_test.png" alt="">
			<i class="fa-solid fa-heart likeB"></i>
		</div>
		<h3>Amazing Pasta ..</h3>
		<div class="card-bottom--info">
			<span class="card-bottom-time">
				<span class="material-symbols-outlined">schedule</span>30 minutes</span>
			<span class="card-bottom-time">
				<span class="material-symbols-outlined">restaurant</span>Dinner</span>
		</div>
	</div>
</div>
