{% extends "index" %}
{% block homeContent %}
	<div class="hero--wrapper">
		<div class="hero-card">

			<div class="card-left">
				<span class="new-recipe">Featured 🎉</span>


				<span class="new-info">
					<div class="info-wrapper">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam eveniet dignissimos vel ipsum saepe, quisquam non aspernatur perferendis cumque est temporibus nostrum ipsa totam quo obcaecati impedit commodi molestias quasi.
						<div class="wrap-dish-time">
							<span class="new-time">
								<span class="material-symbols-outlined">schedule</span>1h 5m</span>
							<span class="new-dish">
								<span class="material-symbols-outlined">restaurant</span>Pasta</span>
						</div>
					</div>
				</span>

				<div class="card-lower">
					<div class="card-lower-left">
						<div class="card-lower--profile-pic"></div>
						<span class="card-lower--profile--info">
							<p class="card-lower-profile-name">Arsen Chensov</p>
							<p>4<sup>th</sup>of October 2023</p>
						</span>


					</div>
					<div class="card-lower-left">
						<span class="recipe-btn">
							<span class="material-symbols-outlined">play_circle</span>Full Recepie</div>
					</span>
				</div>
			</div>
			<div class="card-right"></div>
		</div>
	</div>
	<main>
		<div class="title-section">
			<h1 class="mid-page-title">Try these amazing recipes</h1>
		</div>
		<div class="card-wrapper">
			<div class="main--card-grid">
				{% for i in 1..8 %}
					{% include "_cards.twig" %}
				{% endfor %}
			</div>
		</div>
		<div class="explore-more-container">
			<span>Explore more recipes</span>
		</div>
	</main>
{% endblock %}
