<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Bites: Discover the Best Recipes for Amazing Food</title>
		<link rel="stylesheet" href="/css/app.css"/>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
	</head>
	<body>
		<div class="top-container">
			<div class="logo">
				<h1>bites.</h1>
			</div>
			<nav>
				<ul>
					<li>Home</li>
					<li>Recepies</li>
					<li>Blog</li>
					<li>Community</li>
				</ul>
			</nav>
			<div class="login">
				<span class="login-btn">Log In</span>
				<span class="sign--up-btn">Sign Up</span>
			</div>
		</div>

		<div class="login-modal hidden">
			<form method="get">
				<span class="close-modal">
					<span class="material-symbols-outlined">close</span>
				</span>
				<h3>Hey, welcome back! 👋</h3>
				<input type="username" placeholder="username">
				<input type="password" placeholder="••••••••">
				<p>Forgot username or password</p>
				<button>Sign In</button>
			</form>
		</div>


		{% block homeContent %}{% endblock %}


		<footer>
			<div class="footer-wrap">
				<div class="footer-left">
					<ul>
						<li><a href="#aboutus">About Us</a></li>
						<li><a href="#faq">FAQs</a></li>
						<li><a href="#careers">Careers</a></li>
						<li><a href="#socialmedia">Social Media</a></li>
						<li><a href="#privacy">Privacy Policy</a></li>
					</ul>
				</div>
				<div class="footer-right">
					<ul
						class="social-icons"><!-- Add your list items here. For example:
							        <li><a href="#">Icon Here</a></li>
							        -->
					</ul>
				</div>
			</div>
			<p>&copy; 2023 bites. All rights reserved.</p>
		</footer>
		<script src="{{ alias('@web/js/like.js') }}"></script>
		<script src="{{ alias('@web/js/modal.js') }}"></script>
	</body>
</html>
